<% atom_link_header(container, Bookmark.new) %>

<% content_for :sidebar, container_menu %>
<% content_for :pagination, will_paginate(@bookmarks) %>

<h1><%= title %></h1>
<%= render :partial => "bookmark", :collection => @bookmarks, :spacer_template => 'public/content_spacer' %>
