<% content_for :sidebar, container_menu %>

<h1><%= title %></h1>

<%= error_messages_for :audio %>

<% form_for([ container, @audio ], :html => { :multipart => true }) do |f| -%>

  <%= render :partial => "form", :object => f %>

  <%= submit_tag t(:update) %>

<% end -%>
