<% atom_link_header(container, Audio.new) %>

<% content_for :sidebar, container_menu %>
<% content_for :pagination, will_paginate(@audios) %>

<h1><%= title %></h1>
<%= render :partial => "audio", :collection => @audios %>
