<h1><%= title %></h1>

<%= error_messages_for :audio %>

<% form_for([ path_container, @audio ], :html => { :multipart => true }) do |f| -%>

  <%= render :partial => "form", :object => f %>

  <%= f.submit t(:create) %>

<% end -%>
