<h1><%= t 'comment.new' %></h1>
<% form_for([ @commentable, @comment ]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.text_area :content %>
  </p>

  <p>
    <%= f.submit t('comment.submit') %>
  </p>
<% end %>
