<p>
  <label><%= form.label :title, t('task.title')%></label><br />
  <%= form.text_field :title %>
</p>

<p>
  <label><%= form.label :description, t('task.description')%></label><br />
  <%= form.text_area :description %>
</p>


