<h1><%= title %></h1>

<%= render @tasks %>

<div id='new-task' class='new-resource'>
  <%= link_to image_tag('models/16/task-new.png', :class => 'logo'), polymorphic_path([ current_container, Task.new ], :action => :new) %>
  <%= link_to t(:new, :scope => :task), polymorphic_path([ current_container, Task.new ], :action => :new) %>
</div>
