<% atom_link_header(container, Article.new) %>

<div id="leftside">
</div>

<div id="contentalt">
  <h1><%= @title %></h1>
  <% unless @description.blank? -%>
    <p class="soft"><%= sanitize @description %></p>
  <% end -%>
  <%= render :partial => "article", :collection => @contents %>
  <%= will_paginate(@contents) %>
</div>
