<h1><%= title %></h1>

<%= error_messages_for :article %>

<% form_for([path_container, @article]) do |f| -%>

  <%= render :partial => "form", :object => f %>

  <%= f.submit t(:create) %>

<% end -%>
