<div id="children" class="span-6 last">
  <h1>
    <%= logo(Group.new) %>
    <%= t('group.children.other') %>
  </h1>

  <%= render :partial => 'groups/child', :collection => children %>

  <% if authorized?(:create, group.children.new) %>
  <div id='new_child' class="child span-1 new-child">
    <%= link_to image_tag('models/32/group-new.png',
                          :alt => t('group.children.new'),
                          :title => t('group.children.new'),
                          :class => 'logo new-child'),
                          polymorphic_path(Group.new, :action => :new, :group => { :parent_id => group.id }) %>
  </div>
  <% end -%>
</div>
