<% content_for :pagination, will_paginate(@group_contents) %>
<% content_for :sidebar, sidebar(@group) %>

<div id="group-description">
  <%= sanitize move_format_text(@group.description) %>
</div>

<div id="activity_stream">
  <%= render :partial => 'content', :collection => @group_contents %>
  <% if @group_contents.blank? %>
  <div class="error">
    <%= t('agent.no_contents', :agent => link_logotype(@group)) %>
  </div>
  <% end %>
</div>
