<% atom_link_header :title => title(t('user.home'), :append_site_name => true) %>

<% content_for :title_header, title(t('user.home'), :append_site_name => true) %>
<% content_for :pagination, will_paginate(@contents) %>
<% content_for :sidebar, render(:partial => 'sidebar')  %>

<div id="activity_stream">
<%= render :partial => 'content',
           :collection => @contents %>
</div>
