<div id="leftside">
</div>

<div id="contentalt">
  <h1><%= title %></h1>
  <% unless @description.blank? -%>
    <p class="soft"><%= sanitize @description %></p>
  <% end -%>
  <%= render :partial => "document", :collection => @documents %>
  <%= will_paginate(@documents) %>
</div>
