<% atom_link_header(container, Article.new) %>

<% content_for :sidebar, container_menu %>
<% content_for :pagination, will_paginate(@articles) %>

<h1><%= title %></h1>
<%= render :partial => "document", :collection => @documents %>
