<h1><%= title %></h1>

<%= error_messages_for :document %>

<% form_for([ path_container, @document ], :html => { :multipart => true }) do |f| -%>

  <%= render :partial => "form", :object => f %>

  <%= f.submit t(:upload) %>

<% end -%>
