<% jquery_tags('photo') %>

<h1><%= title %></h1>

<%= error_messages_for :photo %>

<% form_for([ container, @photo ], :html => { :multipart => true }) do |f| -%>

  <%= render :partial => "form", :object => f %>

  <%= submit_tag t(:update) %>

<% end -%>
