<% form_for([ @resource, Post.new ], :url => polymorphic_path([ @resource, Post.new ], :container => false)) do |f| %>
  <%= f.error_messages %>

  <%= link_logotype(current_agent, :size => 32) %>

  <p>
  <%= f.text_area :text, :class => 'text' %>
  </p>

  <%= f.submit t('post.submit') %>
<% end %>
