<h1><%= sanitize(@category.name) %></h1>

<% @categorizables.each do |t| %>
  <% div_for(t, :class => 'span-3 boxes') do %>
  <%= link_logotype t, :size => 64, :spacer => '<br />' %>
  <% end %>
<% end -%>
