<div id="session" class="pull-4 span-9 last">
  <div id="session_agent" class="span-3">
    <%= link_logotype(current_agent, :size => 32) %>
  </div>
  <div id="session_actions-wrapper" class="span-6 last">
    <div id="session_actions">
      <%= link_to image_tag('icons/places/start-here.png') + t('user.home'), home_path %>
      <%= link_to image_tag('icons/actions/configure.png') + t('user.preferences'), edit_user_path(current_agent) %>
      <%= link_to image_tag('icons/actions/system-shutdown.png') + t(:logout), logout_path %>
    </div>
  </div>
</div>
